body {
    background-color:black;
    font-family:arial;
    color:white    
}
h1{
    color:grey;
    font-family:verdana
}
.maindiv{
    background-color:white;
    color:black;
    width:500px; /* adjusted from 300 to have the title on one line */
    padding:20px;
    /*text:center; /* this doesn't work */
    margin: 0 auto; /* this is the right way to center a div at the top*/
    border-radius:25px
}
/* added formatting for the input and result */
.innerdiv{
    width:300px;
    margin: 0 auto;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 130px;
    text-align: left;
}
input{
    display: inline-block;
    float: left;
}
select{
    display: inline-block;
    float: left;
}


